body[data-page-title="login"] {
    background: url('../img/bg.jpg') no-repeat fixed;
    background-size: cover;
    max-height: 100vh !important;
}

/* Containers */

.login-holder {
    background: #fff;
    padding: 20px;
    margin-top: 5%;
}

.task-list-holder {
    padding: 10px 0;
    float: none;
}

.task-info-panel {
    background: #203b53;
    top: 68px;
    position: fixed;
    padding: 20px;
    color: #fff;
    overflow-y: auto;
}

/* Typography */
span.module-title {
    font: 700 18px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

label.input-label {
    font: 600 12px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

span.frm-error {
    font: 400 12px 'Open Sans', sans-serif;
    color: red;
}


/* Task List */

ul li.task-list {
    width: 100%;
    border-bottom: 1px solid #383838;
    padding: 20px 10px 10px 10px;
    font: 600 14px 'Open Sans', sans-serif;
}

/* custom fields */

.select.input::before {
    content: "Read this: ";
}

/* Buttons */

.btn-blue {
    border: 1px solid #42d0ff;
    border-radius: 3px;
    background: transparent;
    padding: 10px;
    font: 600 12px 'Open Sans', sans-serif;
    transition: all 0.5s ease;
}

.btn-blue:hover {
    background: #42d0ff;
}

.btn-blue-bolder {
    position: relative;
    color: #263f65;
    font: 600 14px 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-blue-bolder:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: #263f65;
  content: "";
  transition: width 0.2s;
}

.btn-blue-bolder:hover {
  color: #263f65;
}

.btn-blue-bolder:hover:after {
  width: 100%;
}

.btn-frm-submit {
    border: 1px solid #cb6b96;
    border-radius: 3px;
    background: transparent;
    padding: 10px;
    font: 700 14px 'Open Sans', sans-serif;
    transition: all 0.5s ease;
}

.btn-frm-submit:hover {
    background: #cb6b96;
    color: #fff;
}

.done-btn {
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius:50%;
    background: #2bffa3;
    color: #fff;
    opacity: 0.2;
    transition: all 0.5s ease;
}

.done-btn.done {
    background: #3299f9;
}

.done-btn.failed {
    background: #f93245;
}

.done-btn:hover {
    opacity: 1;
}
/* Navigation */
nav {
    width: 100%;
    padding: 10px 0;
    background: #fff;
}
